@import '/src/styles/resources/';

.section {
    background: $c-milk;
    border-radius: $border-radius;
    padding: 70px 0;
}

.wrapper {
    @include full-width-content;
    align-items: start;
    gap: 2rem;

    @include tablet {
        flex-direction: column;
    }
}

.content {
    max-width: 40%;
    display: flex;
    flex-direction: column;

    @include tablet {
        max-width: 100%;
        text-align: center;
    }
}

.title {
    @include title;
}

.description {
    @include light-description;
    color: $c-black;
    margin: 16px 0 40px;
}

.list {
    width: 50%;
    list-style-type: none;

    @include tablet {
        width: 100%;
    }
}

.item {
    background: $c-white;
    border-radius: $border-radius;
    border-bottom: 2px solid $c-black;
    border-bottom-color: rgba($c-black, 0.05);

    &:not(:last-of-type) {
        margin-bottom: 30px;
    }
}

.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;

    &:after {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        background: ('/img/faq/arrow-icon.svg');
    }

    &:hover {
        cursor: pointer;
    }
}

.button_active {
    background: $c-black;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom: 1px dashed $c-white;

    &:after {
        transform: rotate(180deg);
    }

    .question {
        color: $c-white;
        transition: .3s ease;
    }
}

.question {
    font-size: 20px;
    font-family: $secondary-font-family;
    font-weight: 500;
    color: $c-black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 24px;
}

.arrow_active {
    transform: rotate(-180deg);
    filter: invert(98%) sepia(0%) saturate(47%) hue-rotate(138deg) brightness(117%) contrast(100%);
    transition: transform .3s ease;
}

.answer_wrapper {
    height: 0;
    overflow: hidden;
    transition: height ease .3;
}

.answer_wrapper_active {
    background: $c-black;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: $c-white;
    height: auto;
    padding: 24px;
    transition: color .3s ease;
}

.answer {
    opacity: 0.4;
}

.open {
    height: auto;
}
