@import '/src/styles/resources/';

.descriptionHead {
    font-size: 24px;
    font-weight: 700;
    font-family: $secondary-font-family;
}
.descriptionFoot {
    @include light-description;
    color: $c-black;
}

.image {

    @include laptop {
        height: 400px;
        width: 100%;
    }

    @include tablet-large {
        height: 370px;
    }

    @include phone {
        height: 320px;
    }
}
