@import "/src/styles/resources/mixins";

.yellow-btn {
  width: 250px;
  text-align: center;
  color: $c-black;
  background: $c-yellow;
  border: 1px solid $c-yellow;
  border-radius: 15px;
  padding: 15px 0;
  transition: 0.3s ease;

  &:hover {
    color: $c-white;
    background: none;
    border: 1px solid $c-yellow;
  }
}

.ghost-btn {
  color: $c-white;
  background: none;
  border: 1px solid $c-yellow;
  border-radius: 15px;
  padding: 15px 0;
  transition: 0.3s ease;

  &:hover {
    color: $c-black;
    background: $c-yellow;
    border: 1px solid $c-black;
  }
}
