@import '/src/styles/resources/';

.section {
    padding: 50px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include laptop{
        gap: 20px;
    }

    @include tablet-large {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

.rightPart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet-large {
        gap: 1rem;
    }
}

.infoWrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include block-border;
    @include quote;

    p {
        @include description;
    }
}

.interiorImage {
    width: 100%;

    @include laptop {
        max-width: 100%;
        object-fit: cover;
        border-radius: $border-radius;
        @include block-border;
    }

    @include phone {
        height: 120px;
    }
}

.yardImage {
    @include laptop {
        height: 600px;
    }

    @include tablet-large {
        height: 400px;
        width: 100%;
        object-fit: cover;
        @include block-border;
    }

    @include phone {
        height: 240px;
    }
}
