@import "/src/styles/resources/mixins";

.wrapper {
  padding: 2rem 0;
  position: relative;
}
.navigation,
.links {
  @include full-width-content;
}
.links {
  gap: 3rem;

  @include tablet-large {
    display: none;
  }
}
.links a {
  font-size: 1.2rem;
  color: $c-white;
  font-weight: 500;
  opacity: 0.8;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $c-yellow;
    opacity: 0;
    transition: all 0.2s ease;
    transform: translate(-50%, 5px);
  }

  &:hover {
    opacity: 1;
  }

  &:hover::after {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
.button {
  padding: 8px 40px;

  @include tablet-large {
    padding: 8px 60px;
  }

  @include phone {
    padding: 8px 40px;
  }
}
.logo {
  @include logo;
}
.logoPart {
  color: $c-yellow;
}
.line {
  height: 1.5px;
  width: 100%;
  background: $c-white;
  opacity: 0.4;
  margin-top: 2rem;

  @include phone {
    display: none;
  }
}

.mobileLinksWrap {
  margin-top: 30px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  display: none;

  @include tablet-large {
    display: block;
  }

  @include phone {
    margin-top: 15px;
  }
}

.mobileLink {
  color: $c-white;
  background: $c-black;
  padding: 0 40px;
  font-size: 18px;
  font-weight: 500;
  border-top: 1px solid $c-yellow;
  height: 60px;
  display: flex;
  align-items: center;
  transition: .2s ease;
  justify-content: space-between;

  &:hover {
    color: $c-black;
    background: $c-yellow;
  }

  @include phone {
    padding: 0 20px;
  }
}

.btnPart {
  display: flex;
  align-items: center;
  gap: 20px;

  @include phone {
    gap: 10px;
  }
}

.close, .open {
  height: 32px;
  width: 32px;
  color: $c-white;
  display: none;

  &:hover {
    cursor: pointer;
  }

  @include tablet-large {
    display: block;
  }
}
