/* ---- Variables ---- */
/* -- Colors -- */
$c-yellow: #f1dc43;
$c-milk: #f4eacf;
$c-aqua: #5bc6c0;
$c-white: #ffffff;
$c-black: #362F3D;

/* -- Typography -- */
$main-font-family: "Inter", sans-serif;
$secondary-font-family: "Nunito", sans-serif;
$logo-font-family: "Quicksand", sans-serif;
