@import '/src/styles/resources/';

.descriptionWrapper {
    background: $c-black;
    padding: 35px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    @include block-border;
    @include quote;
}

.descriptionFoot, .descriptionHead {
    @include description;
}

.image {

    @include laptop {
        width: 100%;
        height: 500px;
    }

    @include tablet-large {
        height: 490px;
    }

    @include phone {
        height: 400px;
    }
}